/* 重置浏览器css样式 */
@import url('./assets/css/reset.css');

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif, 'Microsoft YaHei';
  font-size: 14px;
}

/* 配置常用的flex布局 */
.f {

  &dc {
    flex-direction: column;
  }

  &c {
    &c {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &s {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }

  &s {

    &c {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &s {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &pa {
    &c {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &s {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
    }
  }

  &pb {

    &c {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &s {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &pe {

    &c {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    &s {
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
    }
  }

  &w {
    //换行
    flex-wrap: wrap;
  }

  &d_col {
    //column布局
    display: flex;
    flex-direction: column;
  }

  &_nos {
    //取消缩放
    flex-shrink: 0;
  }

  &_nog {
    //取消放大
    flex-grow: 0;
  }

  &_nosg {
    //取消缩放和放大
    flex-shrink: 0;
    flex-grow: 0;
  }
}

/* position 常用定位 */
.p {
  &r {
    position: relative;
  }

  &a {
    position: absolute;
  }

  &f {
    position: fixed;
  }

  &s {
    position: sticky;
  }
}

//设置倒影
.box_ref {
  -webkit-box-reflect: below 1px -webkit-linear-gradient(transparent, transparent 90%, rgba(255, 255, 255, 0.3));
}

//设置指标的显示
.cur {
  &_p {
    cursor: pointer;
  }

  &_n_a {
    //禁止操作提示
    cursor: not-allowed;
  }
}

//设置文字hover时样式为underline
.td_u {
  &:hover {
    text-decoration: underline;
  }
}

//设置不可选中
.user_ns {
  user-select: none;
}

//设置常用display
.d {
  &_ib {
    display: inline-block;
  }

  &_i {
    display: inline-block;
  }

  &_b {
    display: block;
  }

  &_f {
    display: flex;
  }

  &_wk_b {
    display: -webkit-box;
  }
}

//单行文字溢出处理(需要指定宽度,不能使用百分比)
.t_ovl1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


$--fixed_width:980px; //内容的宽度
$--head_color:#242424; //头部的背景色
$--content_color:#f5f5f5; //中间内容的背景色
$--foot_color:#f2f2f2; //脚步的背景色


.page {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  /* &::-webkit-scrollbar {
  } */

  @extend .fss;
  flex-direction: column;

  .page-head {
    width: 100%;
    background-color: $--head_color;
    @extend .fcc;
  }

  .page-content {
    // min-height: calc(100vh - 243px);
    flex: 1;
    width: 100%;
    background-color: $--content_color;
    @extend .fcs;

    /* .full {
      width: $--fixed_width;
      height: 100%;
    } */
  }

  .page-foot {
    width: 100%;
    height: 173px;
    background-color: $--foot_color;
    @extend .fcs;
  }

}

/* 
  一些需要复用的icon图标
*/

//获取方法
@mixin get_icon($x, $y, $size_x, $size_y) {
  @if($size_x=='auto') {
    width: auto;
  }

  @else {
    width: #{$size_x}px;
  }

  height: #{$size_y}px;
  background-position: #{$x}px #{$y}px;
}

//获取方法，区别在于可以可以指定用哪个img，有无hover（不填则无）
@mixin get_btn($extendClassIndex,
  $x_f,
  $y_f,
  $size_x_f,
  $size_y_f,
  $x_n: false,
  $y_n: false) {
  display: inline-block;
  @extend .#{"icons" + $extendClassIndex + "_img"};
  @include get_icon($x_f, $y_f, $size_x_f, $size_y_f);

  @if ($x_n, $y_n) {
    &:hover {
      @include get_icon($x_n, $y_n, $size_x_f, $size_y_f);
    }
  }
}

.icons_img {
  background: url("https://music.163.com/style/web2/img/icon.png?7a7e3fe737f9f8c50aefdfeffabe5d20") no-repeat;
}

.icons1_img {
  background: url("https://music.163.com/style/web2/img/button2.png?121f168fd59c64de034a737fa613a137") no-repeat;
}

.icons2_img {
  background: url("https://music.163.com/style/web2/img/table.png?a58e4187ce8625d374d6085b2c4e7f0f") no-repeat;
}

.icons3_img {
  background: url("https://music.163.com/style/web2/img/button.png?6c44aac4f8e2faab560469bf9b7ed1b9") no-repeat;
}

.icons4_img {
  background: url("https://music.163.com/style/web2/img/icon2.png?c34052cb37c1e490b43ff505c4e2f71a") no-repeat;
}

.icons5_img {
  background: url("https://music.163.com/style/web2/img/iconall.png?3b842806447563578eadc3999414e2e1") no-repeat;
}

.icons6_img {
  background: url("https://music.163.com/style/web2/img/coverall.png?544674b7fdb18c4ed7fd416cdd1f1f33") no-repeat;
}

.icons7_img {
  background: url("https://music.163.com/style/web2/img/iconall.png?82783b9ec199e0be36d4bfbcd89d22b6") no-repeat;
}

.icons8_img {
  background: url("https://music.163.com/style/web2/img/icon.png?6c2f8d104760735b730ad5b31153d531") no-repeat;
}

.icons9_img {
  background: url("https://music.163.com/style/web2/img/coverall.png?3505c0904f0a67f8d8ee467beacf8f17") no-repeat;
}

.icons10_img {
  background: url("https://music.163.com/style/web2/img/button2.png?28b755c9f690485ed9b4e84553693db5") no-repeat;
}

.icons11_img {
  background: url("https://music.163.com/style/web2/img/icon2.png?44737a7a567d8ee25b8bac12f5267376") no-repeat;
}

.icons12_img {
  background: url("https://music.163.com/style/web2/img/sprite.png?951fdbfbda929ed4150bb7afc9fa6d1e") no-repeat;
}

//播放按钮
.play_icon {
  display: inline-block;
  @extend .icons2_img;
  @include get_icon(0, -103, 17, 17);

  &:hover {
    @include get_icon(0, -128, 17, 17);
  }
}

//播放icon
.playlist_icon {
  display: inline-block;
  @extend .icons_img;
  @include get_icon(2.5, -700, 18, 16);

  &:hover {
    @include get_icon(-19.5, -700, 18, 16);
  }
}

//添加到播放列表icon
.addlist_icon {
  display: inline-block;
  @extend .icons2_img;
  @include get_icon(0, -174, 18, 16);

  &:hover {
    @include get_icon(-20, -174, 18, 16);
  }
}

//收藏icon
.collectlist_icon {
  display: inline-block;
  @extend .icons2_img;
  @include get_icon(0, -194, 18, 16);

  &:hover {
    @include get_icon(-20, -194, 18, 16);
  }
}

//下载icon
.downloadlist_icon {
  display: inline-block;
  @extend .icons2_img;
  @include get_icon(-81, -174, 18, 16);

  &:hover {
    @include get_icon(-104, -174, 18, 16);
  }
}

//mv icon
.mv_icon {
  display: inline-block;
  @extend .icons2_img;
  @include get_icon(0, -151, 23, 17);

  &:hover {
    @include get_icon(-30, -151, 23, 17);
  }
}

//排行榜 rank位置变动icon，new为新入选榜单、stay表示位置不变、up、down表示位置变化
.status_icon {
  &_new {
    display: inline-block;
    @extend .icons_img;
    @include get_icon(-67, -283, 16, 17);
    padding-left: 16px;
  }

  &_stay {
    display: inline-block;
    @extend .icons_img;
    @include get_icon(-74, -268, 8, 17);
    font-size: 10px;
    color: #999;
    padding-left: 8px;
  }

  &_up {
    display: inline-block;
    @extend .icons_img;
    @include get_icon(-74, -299, 8, 17);
    font-size: 10px;
    color: #bb2128;
    padding-left: 8px;
  }

  &_down {
    display: inline-block;
    @extend .icons_img;
    @include get_icon(-74, -318, 8, 17);
    font-size: 10px;
    color: #bb2128;
    padding-left: 8px;
  }
}

//一些icon
.icon_ {
  &smile_face {
    //表情，笑脸
    display: inline-block;
    @extend .icons_img;
    @include get_icon(-40, -490, 18, 18);
  }

  &at {
    //@符号
    display: inline-block;
    @extend .icons_img;
    @include get_icon(-60, -490, 18, 18);
  }

  &btn_comment {
    //评论按钮
    @include get_btn(3, -84, -64, 46, 25, -84, -94);
  }

  &commend {
    //赞 
    @include get_btn(4, -150, 0, 15, 14, -150, -20);

    &.active {
      @include get_icon(-170, 0, 15, 14);
    }
  }

  &btn_pagination {

    //重复的属性
    @mixin repectArt {
      line-height: 24px;
      font-size: 12px;
      color: #333;
    }

    //分页 上一页按钮
    &_prev {
      @extend .cur_p;
      @extend .user_ns;
      @include get_btn(3, 0, -560, 71, 24, 0, -590);
      @include repectArt;
      padding-left: 22px;

      &.cannot_click {
        @extend .cur_n_a;
        @include get_btn(3, 0, -620, 71, 24);
      }
    }

    //分页 下一页按钮
    &_next {
      @extend .cur_p;
      @extend .user_ns;
      @include get_btn(3, -75, -560, 71, 24, -75, -590);
      @include repectArt;
      padding-left: 12px;

      &.cannot_click {
        @extend .cur_n_a;
        @include get_btn(3, -75, -620, 71, 24);
      }
    }

    //分页 页面按钮
    &_page {
      @extend .cur_p;
      @extend .user_ns;
      min-width: 22px;
      line-height: 22px;
      font-size: 12px;
      text-align: center;
      padding: 0 8px;
      border-radius: 2px;
      color: #333;
      border: 1px solid #ccc;

      &:hover {
        border-color: #666
      }

      &.active {
        @include get_btn(3, 0, -650, auto, 22);
        border-color: #A2161B;
        color: #fff;
      }
    }
  }

  //playlist title的热门按钮
  &btn_hot {
    @extend .td_u;
    @include get_btn(3, 0, 0, 46, 29);
    text-align: center;
    line-height: 29px;
    font-size: 12px;
    color: #fff;
    border-radius: 3px;
  }

  //playlist item cover bottom 的背景
  &cov_bot_bg {
    @include get_btn(6, 0, -537, 140, 27);
    display: flex;
  }

  //耳机icon
  &headset {
    @include get_btn(5, 0, -24, 14, 11);
  }

  //playlist item cover bottom 的 播放 icon
  &play {
    @include get_btn(5, 0, 0, 16, 17, 0, -60);
  }

  //封面的mask
  &cover_mask {
    @include get_btn(6, 0, 0, 140, 140);
  }

  //节目播放icon
  &program_play {
    @include get_btn(7, 0, -85, 22, 22);
  }

  //个人主页图标
  &personal {
    @include get_btn(8, 0, -740, 17, 18);
  }

  //封面的mask 130x130
  &cover_mask_130 {
    @include get_btn(6, 0, 0, 130, 130);
  }

  //封面的mask 153x130
  &cover_mask_153x130 {
    @include get_btn(9, 0, -845, 153, 130);
  }

  //Album 页面的play按钮 28x28
  &album_play_28x28 {
    @include get_btn(7, 0, -140, 28, 28, 0, -170);
  }

  //song 页面 歌曲cover的光碟背景
  &cover_disk {
    @include get_btn(9, -140, -580, 206, 205);
  }

  //song 页面 外链左边的音乐icon ，蓝色
  &music {
    @include get_btn(8, -34, -863, 16, 16);
  }

  //song 页面 单曲icon
  &single_song {
    @include get_btn(8, 0, -463, 54, 24);
  }

  //song 页面 MV icon
  &mv {
    @include get_btn(8, 0, -18, 21, 18);
  }

  //song 页面 播放btn 背景
  &btn_play_bg {
    @include get_btn(10, 0, -633, 66, 31, 0, -719);
  }

  //song 页面 播放btn icon
  &btn_play_icon {
    @include get_btn(10, 0, -1622, 20, 18, -28, -1622);
  }

  //song 页面 新增播放列表btn
  &add_play {
    @include get_btn(10, 0, -1588, 31, 31, -40, -1588);
  }

  //song 页面 收藏btn 背景
  &btn_collect_bg {
    @include get_btn(10, 0, -977, 55, 31, 0, -1063);
  }

  //song 页面 收藏btn 背景
  &btn_share_bg {
    @include get_btn(10, 0, -1225, 55, 31, 0, -1268);
  }

  //song 页面 收藏btn 背景
  &btn_download_bg {
    @include get_btn(10, 0, -2761, 55, 31, 0, -2805);
  }

  //song 页面 评论btn 背景
  &btn_comment_bg {
    @include get_btn(10, 0, -1465, 55, 31, 0, -1508);
  }

  //song 页面 展开箭头
  &expand_arrow {
    @include get_btn(8, -65, -520, 11, 8);

    &.rot {
      transform: rotate(180deg);
    }
  }

  //song 页面 右侧相似歌曲区域 的播放按钮
  &song_play {
    @include get_btn(11, -69, -455, 10, 11);
  }

  //song 页面 右侧相似歌曲区域 的添加播放列表按钮
  &song_add {
    @include get_btn(11, -87, -454, 10, 11);
  }

  //song 页面 右侧网易云音乐app下载区域 bg
  &song_app_download_bg {
    @include get_btn(12, -0, -392, 200, 65);
  }



}